/* tag selectors */

body{
    background-color: beige;
}
h1{
    color: rgb(134, 107, 51);
}

/* class selectors */

.broccoli{
    background: burlywood;
}
.circular{
    border-radius: 100%;
    position: relative;
    left: 30px;
    
}
.circular:hover{
    opacity: 50%;
}



/* id selectors */